[submodule "backends/android"]
	path = backends/android
	url = https://github.com/water-rs/android-backend.git
	branch = dev
[submodule "backends/apple"]
	path = backends/apple
	url = https://github.com/water-rs/apple-backend.git
	branch = dev
